<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start" menu="sideMenu"></ion-menu-button>
    <ion-title>Metéo</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form (ngSubmit)='getWeatherByCity()'>
    <ion-item>
      <ion-input label="Ville" label-placement="stacked" [(ngModel)]='city' name='city'
        placeholder="Entrez une ville"></ion-input>
      <ion-button type="submit" slot="end">OK</ion-button>
      <ion-button type='button' slot="end" (click)="getWeatherByLocation()">
        <ion-icon name="pin"></ion-icon>
      </ion-button>
    </ion-item>
  </form>
  <div *ngIf="weather">
    <ion-title>{{weather.city.name}}</ion-title>
    <app-meteo-card [weather]="w" *ngFor='let w of weather.list'></app-meteo-card>
  </div>
</ion-content>