<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start" menu="sideMenu"></ion-menu-button>
    <ion-title>Todo liste</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="addTodo()" [formGroup]="form">
    <ion-item class="todoInput">
      <ion-input label="Titre de la tache" label-placement="stacked" formControlName="titre"
        placeholder="Entrez une tâche"></ion-input>
      <ion-button type="submit" slot="end">
        <ion-icon name="add-circle"></ion-icon>
      </ion-button>
    </ion-item>
  </form>
  <ion-list>
    <ion-item *ngFor="let todo of todos; let todoIndex = index">
      <ion-label>
        <div style="display: flex; align-items: center; gap: 10px;">
          <ion-icon [name]="todo.done ? 'checkmark': 'refresh'"></ion-icon>
          <span>{{todo.titre}}</span>
        </div>
      </ion-label>
      <ion-button slot="end" color="success" (click)="fait(todoIndex)">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button slot="end" color="danger" (click)="supprimer(todoIndex)">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>